<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>web</display-name>

	<servlet>
		<servlet-name>Init</servlet-name>
		<servlet-class>MySQLSetting</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>S00007</servlet-name>
		<servlet-class>jp.excd.servlet.S00007</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>S00007</servlet-name>
		<url-pattern>/ja/S00007/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>S00008</servlet-name>
		<servlet-class>jp.excd.servlet.S00008</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>S00008</servlet-name>
		<url-pattern>/ja/S00008/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>S00009</servlet-name>
		<servlet-class>jp.excd.servlet.S00009</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>S00009</servlet-name>
		<url-pattern>/ja/S00009</url-pattern>
	</servlet-mapping>
</web-app>